.rt-app
{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 30px;

    background-color: $color-grey-lighter;

    .rt-sidemenu
    {
        flex-grow: 0;
        margin-right: 30px;
    }

    .rt-app-cards
    {
        flex-grow: 1;

        .rt-card
        {
            margin-bottom: 30px;
        }
    }
}