.rt-app
{
    display: flex;
    padding: 30px;

    .rt-sidemenu
    {
        flex-grow: 0;
        margin-right: 30px;
    }

    .rt-app-cards
    {
        flex-grow: 1;

        .rt-card
        {
            margin-bottom: 30px;
        }
    }
}