/*
Style guide
https://www.uplabs.com/posts/gradients-style
*/

$color-primary: #673AB7;
$color-secondary: #9575CD;

$color-warning: #FFC107;
$color-danger: #F44336;
$color-success: #4CAF50;

$color-white: #FFFFFF;
$color-grey: #E0E0E0;
$color-grey-lighter: #F6F6F6;
$color-font: #262626;