/*
Style guide
https://www.uplabs.com/posts/gradients-style
*/

$color-primary: #899CFC;
$color-secondary: #DFE4EF;
$color-white: #FFFFFF;
$color-grey: #E0E0E0;
$color-grey-lighter: #F6F6F6;
$color-font: #262626;