* 
{
    margin: 0;
    padding: 0;

    font-family: $font-normal;
    font-size: 1em;
    color: $color-font;
    text-decoration: none;
}

h1, h2, h3
{
    font-weight: bold;
    color: black;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.6em;
}

h3
{
    font-size: 1.3em;
}

input, textarea
{
    padding: 5px 10px 2px 10px;
    border: 1px solid $color-grey;
    border-radius: 3px;

    &:focus
    {
        border-color: $color-primary;
    }
}

textarea
{
    min-height: 250px;
    box-sizing: border-box;
    padding: 15px;
}

.rt-separator
{
    display: inline-block;
    margin: 0 5px;
}